$primary : #240E42;
$secondary : #AD1AAF;
$light_primary : #D50000;
$accent : #d500007d;
$light : #F6F6F6;
$dark :#000000;


$grey_100 : #F0EDED;
$grey_200 : #D8D8D8;
$grey_300 : #9B9B9B;
$grey_400 : #6F6F6F;
$grey_500 : #F7F7F76A;


$warning : #FFAF2E;
